@charset "utf-8";
@import url("reset.css");
/* CSS Document */
html{
	
}
body{
	color: #fff;
	font-size: 15px;
	font-family: Helvetica, 'Microsoft JhengHei', Arial, sans-serif;
	line-height: 21px;
	letter-spacing: 1px;
	background: #0a0a0a;
}
a{
	text-decoration: none;
}
p{
	margin-bottom:10px;
}

h2{
	color:#ffe9c2;
	font-size: 24px;
	margin: 15px 0px;
    padding-bottom: 15px;
	border-bottom: solid 1px #ffe9c2;
}

.wrapper{
	margin: 0px auto;
	max-width: 1920px;
	background: #0a0a0a;
}


.wrapper.bg-index{
	display: block;
	background:url("../images/bg_index.jpg") no-repeat center 128px #0a0a0a;
	
}
.bg-index-m{
	display: none;
}
.bg-about{
	background:url("../images/bg_about.jpg") no-repeat center top #0a0a0a;
}
.bg-service{
	background:url("../images/bg_service.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-space{
	background:url("../images/bg_space.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-news{
	background:url("../images/bg_news.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-contact{
	background:url("../images/bg_contact.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
header{
	background:url("../images/bg_nav.png") repeat;
	max-width: 1920px;
	width: 100%;
	height: 128px;
	clear: both;
	/*overflow: hidden;*/
	position:fixed;
	z-index: 9999;
}
.header-group{
	padding: 0px 5% 0px 5%;
}
h1{
	display: inline-block;
	width:180px;
	height:71px;
	background:url("../images/bg_spa.png") no-repeat;/*500x265*/
	background-position: 0px 0px;
	background-size: 215.517241% 288.043478%;
	text-indent: -9999px;
	margin-top: 21.5px;
}
h1 a{
	width:180px;
	height:71px;
	display: block;
}
nav.desktop{
	float: right;
	overflow: hidden;
	/*border-right:solid 1px #616161;*/
}

nav.desktop ul{
	overflow: hidden;
	clear: both;
}

nav.desktop li{
	float: left;
}

nav.desktop li > a{
	display: block;
	overflow: hidden;
	color: #cdcdcd;
	padding: 58px 20px 49px;
}

nav.desktop li > a:hover,nav li > a.active{
	background:url("../images/bg_nav2.png") repeat;
	color: #fff;
}

.nav-rwd{
      visibility: hidden;
   }

.languagebox{
	display: block;
	overflow: hidden;
	color: #cdcdcd;
	padding: 52px 0px 49px;
	/*position: absolute;
	top:51px;
	right: 4%;
	background:url("../images/bg_language.png") no-repeat center bottom;
	z-index: 9999;
	overflow: hidden;*/
}
.languagebox a{
	color: #fff;
}


.languagebox a {
    /*float: left;*/
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown {
   float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
	margin-bottom: 10px;
    background-color: inherit;
    font-family: inherit;
	border-left:solid 1px #616161;
	padding:0px 20px;
}

.languagebox a:hover, .dropdown:hover .dropbtn {
    background-color: none;
}

.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: rgba(0,0,0,.8);
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 9999;*/
}

.dropdown-content a {
    float: none;
    color: #cdcdcd;
    padding: 12px 0px;
	margin: 0px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
	border-bottom: solid 1px #616161;
}

.dropdown-content a:hover {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:nth-child(3){
	border-bottom: 0px;
}

/*nav li:nth-child(7){
}

nav li:nth-child(7) a{
	display: inline-block;
	border-right:#616161 1px solid;
}*/
.nav-rwd .languagebox{
	display: none;
}

.main{
	padding: 0px 100px;
}

.main-block{
	padding: 1170px 0px 0px;
	margin-bottom:145px;
}

.main-block-bottom{
	overflow: hidden;
	clear: both;
}

.main-block-bottom a,.main-block-bottom a:active,.main-block-bottom a:visited{
	color: #cdcdcd;
}
.main-block-bottom a:hover{
	color: #fff;
}

.main-block-bottom a.index-service-intro{
	
}

.index_txt{
	display: none;
}

.main-block .main-block-bottom div{
	float: left;
	width: 32%;
	color: #cdcdcd;
}

.main-block .main-block-bottom div:nth-child(1){
	margin-right: 1%;
}

.main-block .main-block-bottom div:nth-child(2){
	margin: 0 1%;
}

.main-block .main-block-bottom div:nth-child(3){
	margin-left: 1%;
}

.main-block figure img{
	width: 535px;
	max-width: 100%;
}


.date{
	display: block;
	margin-bottom: 5px;
}

.offer-info-list{
	overflow: hidden;
	clear: both;
	margin-bottom: 50px;
}
.offer-info-list li{
	border-bottom: dotted 1px #686868;
}
.offer-info-list li div{
	display:inline-block;
	vertical-align: middle;
}

.offer-info-list li a{
	color: #cdcdcd;
	display: block;
	padding: 20px;
    margin: 15px 0px;
}
.offer-info-list li a:hover{
	color: #fff;
}
.offer-info-list img{
	margin-right: 20px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	background:url("../images/bg_spa.png") no-repeat;/*500x265*/
	background-position: 35.157894% 47.916666%;/*167 115*/
	background-size: 2000% 1060%;
}

footer{
	background: #333;
}
footer section{
	padding:40px 0px;
	clear: both;
	overflow: hidden;
	display: table;
	margin: 0px auto;
}
footer section div{
	float: left;
}

.community-link{
	padding-right: 100px;
	line-height: 154px;
}
.community-link a{
	color:#fff;
	background: #535353;
	border-radius: 99em;
	width: 85px;
	height: 85px;
	display: inline-block;
	font-size: 50px;
	line-height: 85px;
	text-align: center;
	margin: 0px 10px;
}

.contact-info{
	padding-left: 100px;
	border-left:solid 1px #fff;
	line-height: 28px;
}

a.btn_music{
	display:inline-block;
}

.copyright{
	background-color: #8d7644;
	color: #fff;
	text-align: center;
	padding: 15px 30px;
	line-height: 24px;
}


/*=============================inner=============================*/

.inner-wrapper{
	padding: 375px 0px 120px;
}

.editbox,.editbox p{
	font-size: 19px;
	line-height: 28px;
}

.editbox{
	/*margin: 0px 200px 100px;*/
}

.top-info{
	margin: 0px 75px;
	width: 35%;
}

.intro{
	margin-bottom: 135px;
	letter-spacing: 2px;
	text-shadow: 0px 0px 10px #350101;
}
.intro a{
	color: #fff;
}
.intro a:hover{
	text-decoration: underline;
}

.sec-about .intro{
	margin-bottom: 0px;
}

.inner-title-box{
	padding-bottom:10px;
	margin-bottom: 15px;
    border-bottom: solid 1px #fff;
}
.inner-title-box h2{
	margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    border-bottom: none;
	color: #fff;
	font-weight:bolder;
	line-height: normal;
	/*text-indent: -9999px;
	width: 547px;/*547 500
	height: 90px;*/
}
.inner-title-box h2 span{
	font-weight:normal;
}

/*.sec-about .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 2.92682% ;
}
.sec-service .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 24.878049% ;
}
.sec-space .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 46.8298% ;
}
.sec-news .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 68.780488% ;
}
.sec-contact .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 90.7317078% ;
}
*/

.service-list{
}

.service-box-wrapper{
	overflow: hidden;
	clear: both;
	padding: 70px 0px;
	border-top: dotted 1px #4c403a;
}

.service-box{
	float: left;
}
.service-box:nth-child(odd){
	margin-right: 3%;
	width: 47%;
}
.service-box:nth-child(even){
	width: 47%;
	margin-left: 3%;
}
.service-box figure{
	float: left;
	width: 40%;
}
.service-box figure img{
	max-width: 100%;
	width: 330px;
}
.service-box-rightcontent{
	float: right;
	width: 55%;
}
.service-box h3{
	font-size: 27px;
	padding: 15px 0px;
	border-top: solid 1px #b3a178;
	border-bottom: solid 1px #b3a178;
	margin-bottom: 15px;
}
.service-box .price{
	margin-bottom: 15px;
}
.service-box .price span{
	display: block;
}
.service-point{
	text-indent: -9999px;
	width: 455px;
	height: 79px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 109.89011% 335.433038% ;/*500 265*/
	background-position: 0% 100% ;/*0 186*/
	margin: 0px auto;
}

.space-around{
	margin-bottom: 120px;
}
.space-around:last-child{
	margin-bottom: 0px;
}
.space-around p{
	margin-bottom: 20px;
}

.space-view-box{
	/*position: relative;
	width: 1710px;
	height: 695px;*/
}
.view-image{
	position: relative;
	/*top: 0px;
	left: 0px;
	width: 1710px;
	height: 695px;
	z-index: 1;*/
}
.view-image img{
	max-width: 100%;
}
.view-btn-circle{
	position: absolute;
	bottom: 6%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	z-index: 2;
	text-indent: -9999px;
	width: 172px;
	height: 172px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 290.697674% 154.069767% ;/*500 265*/
	background-position: 85.97561% 6.4516129% ;/*282 6*/
}
.view-btn-left{
	position: absolute;
	bottom: 32%;
	left: -26.5%;
	z-index: 3;
	text-indent: -9999px;
	width: 28px;
	height: 62px;
	display: block;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 1785.714286% 427.419355% ;/*500 265*/
	background-position: 51.90678% 29.55665% ;/*245 60*/
}
.view-btn-right{
	position: absolute;
	bottom: 32%;
	right: -26.5%;
	z-index: 3;
	text-indent: -9999px;
	width: 28px;
	height: 62px;
	display: block;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 1785.714286% 427.419355% ;/*500 265*/
	background-position: 97.245763% 29.55665% ;/*459 60*/
}



.news-list .offer-info-list{
	margin-bottom: 91px;
}
.news-list .offer-info-list li{
	padding: 0px;
}
.news-list .offer-info-list a{
	display: block;
	padding: 20px;
    margin: 15px 0px;
}
.news-list .offer-info-list a:hover,.offer-info .offer-info-list a:hover{
	background: rgba(255,255,255,0.1);
}

.sec-news h3{
	font-size: 28px;
	line-height: 32px;
	overflow: hidden;
	clear: both;
	line-height: 40px;
}

.sec-news h3 img{
	float: left;
}

.sec-news h3 span{
	display: block;
	float: right;
	width: 95%;
	margin-top: -6px;
}

.sec-news section{
	margin: 0px 75px;
}
.sec-news .editbox{
	font-size: 19px;
	margin: 0px;
}
.sec-news .editbox img{
	max-width: 100%;
	margin-bottom: 50px;
}

.sec-news-content h3{
	margin-bottom: 35px;
}
.sec-news-content section{
		margin: 0px 75px;
}

.sec-news-content .offer-info-list img{
    margin-right: 0%;
}

.map{
	width: auto;
	height: 450px;
	margin: 0px 75px;
}

.page{
	position: relative;
	width: 100%;
	height: 25px;
}
.page .pre{
	position: absolute;
	bottom: 14%;
	left: -16.5%;
	z-index: 3;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 22px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 5000% 1204.545455% ;/*500 265*/
	background-position: 2.4489796% 48.559671% ;/*12 118*/
}
.page .next{
	position: absolute;
	bottom: 14%;
	right: -16.5%;
	z-index: 3;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 22px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 5000% 1204.545455% ;/*500 265*/
	background-position: 27.142857% 48.559671% ;/*133 118*/
}
.pagecount{
	position: absolute;
	bottom: 0%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}
.pagecount a{
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0px 6px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 2000% 1060% ;/*500 265*/
	background-position: 17.052632% 48.333333% ;/*81 116*/
}
.pagecount a.active{
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 0px 6px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 2000% 1060% ;/*500 265*/
	background-position: 9.6842105% 48.333333% ;/*46 116*/
}

/*HAMBURGER NAV*/

.rwd-menu a {
   text-decoration: none;
   transition: all 600ms ease-in-out;
}

/* OPEN / CLOSE BTNS */
.rwd-menu-btn {
   z-index: 999;
   position: absolute;
   display: inline;
   top: 50%;
   right: 0%;
   transform: translate(0%,-50%);
   font-size: 32px;
	background-color: rgba(156,136,81,.65);
	width: 98px;
	height: 90px;
	text-align: center;
}

.rwd-menu-btn a {
   display: inline-block;
	width: 54px;
	height: 5px;
   text-decoration: none;
   /* safari hack */
}

.rwd-btn-open:after {
	font-size: 56px;
	text-align: center;
   content: "\f0c9";
   color: #fff;
	opacity: .5;
   font-family: "fontawesome";
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-btn-open:hover:after {
	opacity: 1;
}

.rwd-btn-close:after {
   content: "\f00d";
   color: #fff;
   font-family: "fontawesome";
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-btn-close:hover:after {
   color: #c2bcae;
}

/* OVERLAY */
.rwd-overlay {
   z-index: 99;
   position: fixed;
   display: none;
   overflow: hidden;
   top: 90px;
   right: 0; 
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background: transparent;
}

.rwd-menu {
   width: 45%;
   float:right;
   background: rgba(17,17,17, 0.8);
   line-height: normal;
}

.rwd-menu ul { 
   margin: 0;
   padding: 0;
   width: 100%;
   padding: 52px 0px;
}

.rwd-menu li {
   display: table;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 10%;
   list-style: none;
   text-align: center;
   font-size: 28px;
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-menu li a {
   display: table-cell;
   color: #fff;
   display: block;
   padding: 20px 0px;
   vertical-align: middle;
   text-decoration: none;
}

.rwd-menu li:hover, .rwd-menu li a:hover {
    color: #b8926b;
}

/* Sweep To Right */
.rwd-sweep {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.rwd-sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.rwd-sweep:hover, .rwd-sweep:focus, .rwd-sweep:active {
  color: #fff;
}
.rwd-sweep:hover:before, .rwd-sweep:focus:before, .rwd-sweep:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ================================================
Responsive
============================================= */

@media all and (max-width: 1800px) {
	.wrapper.bg-index{
		background-size: contain;
	}
	.main-block{
		padding-top: 70%;
	}
}


@media all and (max-width: 1500px) {
	.offer-info-list li div{
	width: 90%;
	}
	.view-btn-circle{
		width: 100px;
		height: 100px;
	}
	.view-btn-left,.view-btn-right{
		width: 15px;
		height: 33px;
	}
}

@media all and (max-width: 1330px) {
	h1,h1 a{
		width: 200px;
		height: 79px;
	}
	h1{
		margin-top: 28px;
	}
	nav.desktop li > a{
		padding: 58px 15px 49px;
	}
}

@media all and (max-width: 1265px) {
	nav.desktop{
		display: none;
	}
	.nav-rwd {
    visibility: visible;
	}
	.rwd-menu-btn{
		width: 130px;
		height: 135px;
		line-height: 135px;
	}
	.rwd-btn-close:after{
		font-size: 56px;
	}
	h1{
		display: block;
		margin: 28px auto 0px;
	}
	.main{
		padding: 0px 60px;
	}
	h2{
		font-size: 32px;
	}
	.nav-rwd .languagebox{
		display: block;
		position: absolute;
		left: 5%;
		top:36px;
		padding: 0px;
	}
	.dropdown .dropbtn,.languagebox a{
		font-size: 28px;
	}
	.dropdown-content a{
		padding: 30px 0px;
	}
	.nav-rwd .dropdown .dropbtn{
		border-left: none;
	}
	.nav-rwd .languagebox a{
		line-height: normal;
	}

	.wrapper.bg-index{
		background-position: 0% 90px;
	}
	.main-block{
		padding-top: 90%;
	}

}

@media (max-width: 1200px){
	.top-info {
    width: 60%;
	}
}


@media (max-width: 1185px){
	.offer-info-list li div{
		width: 90%;
	}
}


@media (max-width: 965px){
	.offer-info-list li div{
		width: 88%;
	}
}



@media (max-width: 840px){
	.offer-info-list li div{
		width: 86%;
	}
}

@media screen and (min-width: 769px) and (max-width: 930px) {
	.contact-info {
    padding-left: 30px;
}
	.community-link {
    padding-right: 30px;
}
}

@media all and (max-width: 768px) {

	body,p,.sec-news h3,.editbox, .editbox p{
		font-size:15px;
		line-height: 19px;
	}
	.sec-news h3{
		overflow:auto;
		clear: none;
	}
	.sec-news h3 span{
		margin-top:0px;
	}
.intro p{
	font-size: 19px;
	line-height: 2;
}

	h1{
		display: block;
		margin: 13px auto 0px;
	}
	h1,h1 a{
		width: 161px;
		height: 64px;
	}

	h2{
		font-size: 28px;
	}
	
	header{
		height: 90px;
		line-height: 90px;
		background-color: #333;
		background-image: none;
	}
	
	.main {
    padding: 0px 30px;
}
.rwd-menu-btn{
	height: 90px;
	line-height: 90px;
}
.dropdown .dropbtn, .languagebox a{
	font-size: 13px;
}
.nav-rwd .languagebox{
	top:0px;
}
.dropdown-content a{
	padding: 12px 0px;
}
.contact-info {
    padding-left: 75px;
}
	.community-link {
    padding-right: 75px;
}
.main-block .main-block-bottom div:nth-child(1) {
    margin-right: 2%;
}
.main-block .main-block-bottom div:nth-child(2) {
    margin: 0 2%;
}
.main-block .main-block-bottom div:nth-child(3) {
    margin-left: 2%;
}
.main-block .main-block-bottom div {
	width: 30.6%;
}
.top-info{
	width: auto;
}
.service-box figure,.service-box-rightcontent{
	float: none;
	width: 100%;
	margin-bottom: 7%;
}
.service-box h3{
	line-height: 32px;
}
.map{
	width: auto;
}

}


@media all and (max-width: 720px) {
	.intro p{
		font-size:15px;
		line-height: 1.75;
	}
	.inner-title-box h2{
		width: 245px;
		height: 40px;
		margin-left: -13px;
	}
	.wrapper.bg-index{
		display:none;
	}
	.wrapper.bg-index-m{
	display: block;
	background:url("../images/bg_index_m.png") no-repeat center 90px #0a0a0a;
	}
	.index_txt{
	display: block;
	text-align: center;
		padding-bottom: 40px;
}
.main-block .index_txt h2{
	font-size:50px !important;
	font-weight: bolder;
	line-height: normal;
	color: #fff;
	border: none;
	margin: 0px 0px 280px;
}
	.index_txt p{
		font-size: 15px;
		line-height: normal;
		padding: 0px 30px;
	}
	.main {
    padding: 0px;
}
	.main-block-bottom{
		padding:40px 30px;
		background: #1b160b;
	}
	header{
		height:90px;
		line-height: 90px;
	}
	.header-group{
		padding:0px;
	}
	h1{
		margin-top:13.5px;
	}
	h1,h1 a{
		width:156px;
		height: 63px;
	}
	.languagebox{
		top:0px;
		right: 600px;
		overflow: initial;
	}
	.dropdown .dropbtn{
		border-left:0px;
	}
	.dropdown-content a{
		line-height: normal;
		padding: 17px 0px;
	}
	.nav-rwd .languagebox{
		width: 110px;
	}
	.main-block figure img{
		
	}
	.main-block figure{}
	.main-block .main-block-bottom div{
		width:30%;
		margin-right:3.3%;
	}
	.main-block .main-block-bottom div:nth-child(3){
		margin-right: 0px;
	}
	.main-block-bottom h2{
		font-size:19px;
		text-align: center;
		border-top: solid 1px #ffe9c2;
		margin: 0px 0px 5px;
		padding: 5px 0px;
	}

	.main-block{
		padding: 150px 0px 0px;
		margin-bottom: 0px;
	}
	
	.offer-info{
		padding:45px 0px;
		background: #0a0a0a;
	}
	.offer-info h2{
		background:url("../images/bg_info_m.png") no-repeat center;
		border: none;
		margin-top: 0px;
		padding: 0px;
		min-height: 33px;
		line-height: 33px;
		margin-bottom: 25px !important;
		font-size: 19px;
		text-align: center;
		color: #fff;
		font-weight: bolder;
	}
	.offer-info-list{
		margin-bottom: 0px;
	}
	.offer-info-list img{
		width: 2%;
		height: 2%;
		margin-right: 2%;
	}
	.date{
		font-size:13px;
		float: left;
	}
	.offer-info-list li{
		overflow:hidden;
		clear: both;
		padding: 0px 0px;
	}
	.offer-info-list li a{
		display: block;
		padding: 30px;
    	font-size: 21px;
    	margin: 15px 0px;
		clear: both;
		overflow: hidden;
	}
	.offer-info .offer-info-list a:hover{
	background: rgba(255,255,255,0.1);
}
	.offer-info-list li div{
		float: right;
		width: 94%;
	}
	.offer-info-list li img{
		float: left;
		margin-top: 4px;
	}
	.offer-info-list li p{
		float: left;
		width: 82%;
		padding-left: 20px;
	}
	.community-link{
		padding-right:45px;
	}
	.contact-info{
		padding-left:45px;
	}
	.community-link a{
		width:60px;
		height: 60px;
		font-size: 35px;
		line-height: 60px;
	}
	footer{
		background: #0a0a0a;
	}
	footer section{
		padding: 20px 0px;
	}
	.inner-wrapper.sec-about{
		padding-bottom: 80px !important;
	}
	.service-box-wrapper{
		padding: 70px 30px;
	}
	.service-box h3{
		font-size: 21px;
		line-height: 32px;
	}
	.service-point{
		width: 380px;
		height: 66px;
	}
	.space-around{
	padding: 0px 30px;
	}
		.view-btn-circle{
		width: 50px;
		height: 50px;
	}
	.view-btn-left,.view-btn-right{
		width: 10px;
		height: 22px;
	}
	.sec-news-content .offer-info-list img{
		margin-top:5px;
	}
}

@media (max-width: 680px){
.offer-info-list li p{
	padding-left: 0px;
	width: 100%;
}
}

@media (max-width: 650px){
.community-link{
		padding-right:0px;
		text-align: center;
		line-height: 110px;
	}
	.contact-info{
		padding-left:0px;
		border-left:0px;
	}
	footer section div{
		float: none;
	}
	a.btn_music {
    display: table;
    margin: 0px auto;
	}
}

@media (max-width: 595px){

	.main-block .index_txt h2{
		font-size: 36px !important;
	}
	.main-block .main-block-bottom div{
		float: none;
		width: 100%;
	}
	.main-block-bottom article{
		margin-bottom: 10%;
	}
	.main-block-bottom h2{
		font-size: 21px;
		padding: 20px 0px;
		margin-bottom: 20px;
	}

}

@media (max-width: 595px){

.news-list .offer-info-list a{
		padding: 30px;
	}
	.inner-title-box h2{
		font-size: 21px !important;
	}

}

@media all and (max-width: 480px) {
	body,p,.copyright{
		font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.25px;
	}
	.inner-wrapper{
		padding-top:200px;
	}
	.intro{
		margin-bottom:60px;
	}
	h1, h1 a{
		width: 129px;
		height: 51px;
	}
	h1{
		margin-top: 7px;
	}
	.rwd-overlay{
		top:65px;
		background: rgba(17,17,17, 0.8);
	}
	.rwd-menu{
		width: 100%;
		float: none;background: transparent;
	}
	.rwd-menu-btn{
		width: 55px;
		height: 65px;
		line-height: 65px;
		font-size: 22px;
	}
	.rwd-btn-open:after,.rwd-btn-close:after{
		font-size: 22px;
	}
	.nav-rwd .languagebox{
		left:0;
	}
	.rwd-menu li{
		font-size:16px;
	}
	header{
		height: 65px;
		line-height: 65px;
	}
	.wrapper.bg-index-m{
		background-position: center 60px;
	}
	.contact-info{
		padding: 0px 30px;
	}
	.service-point{
	width: 260px;
	height: 45px;
	}
	.space-around p{
	font-size: 15px;
    line-height: 1.75;
	margin-bottom: 20px;
	}
	.space-around{
		margin-bottom: 60px;
	}
	.top-info,.sec-news .news-list{
		margin:0px 30px;
	}
	.pagecount a,.pagecount a.active{
		width:16px;
		height: 16px;
	}
	.page .pre,.page .next{
		width:7px;
		height: 16px;
	}
	.page .pre{
		left:-25.5%;
	}
	.page .next{
		right:-25.5%;
	}
	.intro p{
		font-size:13px;
		line-height: 1.5;
		letter-spacing: 0.25px;
	}
	.map{
		margin:0px 30px;
	}
	.bg-contact,.bg-about{
		background-size: 150%;
    	background-position: 93% 5%;
	}
	.bg-service{
		background-size: 150%;
    	background-position: 93% 1%;
	}
	.bg-news{
		background-size: 150%;
    	background-position: 93% 2%;
	}
	.space-around p{
		font-size: 15px;
		line-height: 1.75;
	}

}

@media (max-width: 420px){
	.top-info{
		margin: 0px 30px;
	}
	.sec-news section,.sec-news-content section{
		margin: 0px 30px;
	}
	
}

@media all and (max-width: 320px) {
	.main-block .index_txt h2{
		font-size: 28px !important;
	}	
	.inner-wrapper{
		padding-top: 170px;
	}
	
	.service-box{
		float: none;
	}
	.service-box:nth-child(odd){
		margin-right: 0px;
		width: 100%;
	}
	.service-box:nth-child(even){
		margin-left: 0px;
		width: 100%;
	}
	.rwd-menu ul{
		padding: 25px 0px;
	}
	.page .pre{
		left: -44.5%
	}
	.page .next{
		right: -44.5%;
	}
	.pagecount a,.pagecount a.active{
		margin: 0px 1px;
	}
	.news-list .offer-info-list a{
		padding:0px;
	}

}



