@charset "utf-8";
@import url("reset.css");
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
/* CSS Document */
html{
	
}
body{
	color: #fff;
	font-size: 1.75vmin;
	font-family: ‘cwTeXMing’, serif;
	line-height: 1.75;
	letter-spacing: 0.75px;
	background: #0a0a0a;
}
a{
	text-decoration: none;
}
p{
	margin-bottom:10px;
	line-height: 1.75;
}

h2{
	color:#ffe9c2;
	font-size: 2.75vmin;
	margin: 15px 0px;
    padding-bottom: 15px;
	border-bottom: solid 1px #ffe9c2;
}

button{
	font-family: ‘cwTeXMing’, serif;
	font-weight: 100;
}

/*================EFFECT================*/

.hideme
{	
	position: relative;
    opacity:0;
    top: 100px;
    animation-timing-function: ease;
}

.effect-txt{
	position: relative;
	animation: effect_txt 5s forwards;
	animation-timing-function: ease;
	-webkit-animation: effect_txt 5s forwards;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes effect_txt{
		from{opacity: 0;top: 100px;}
		to{opacity: .85; top:0px;}
	}
	@keyframes effect_txt{
		from{opacity: 0; top:100px;}
		to{opacity: .85; top:0px;}
	}

.effect-txt-white{
	position: relative;
	animation: effect_txt_white 5s forwards;
	animation-timing-function: ease;
	-webkit-animation: effect_txt_white 5s forwards;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes effect_txt_white{
		from{opacity: 0;top: 100px;}
		to{opacity: 1; top:0px;}
	}
	@keyframes effect_txt_white{
		from{opacity: 0; top:100px;}
		to{opacity: 1; top:0px;}
	}


nav.animation-hover > ul > li > a:before{
	content: "";
	height: 0px;
	transform: translateY(-50%);
	transition: all 0.9s;
	transition-timing-function: ease;

	-webkit-transform: translateY(-50%);
	-webkit-transition: all 0.9s;
	-webkit-transition-timing-function: ease;
}

.nav.animation-hover > ul > li > a:after{
	height: 70px;
	content: "";
}



/*================EFFECT================*/

.wrapper{
	margin: 0px auto;
	max-width: 1920px;
	background: #0a0a0a;
}


.bg-index{
	display: block;
	background:url("../images/bg_index.jpg") no-repeat center 70px #0a0a0a;
	
}

.bg-about{
	background:url("../images/bg_about.jpg") no-repeat center top #0a0a0a;
}
.bg-service{
	background:url("../images/bg_service.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-space{
	background:url("../images/bg_space.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-news{
	background:url("../images/bg_news.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
.bg-contact{
	background:url("../images/bg_contact.jpg") no-repeat center top #0a0a0a;
	min-height: 1100px;
}
header{
	background:url("../images/bg_nav.png") repeat;
	max-width: 1920px;
	width: 100%;
	height: 70px;
	clear: both;
	/*overflow: hidden;*/
	position:fixed;
	z-index: 9999;
}
.header-group{
	padding: 0px 5% 0px 5%;
}
h1{
	display: inline-block;
	width:114px;
	height:45px;
	background:url("../images/bg_spa.png") no-repeat;/*500x265*/
	background-position: 0px 0px;
	background-size: 215.517241% 288.043478%;
	text-indent: -9999px;
	margin-top: 12.5px;
}
h1 a{
	width:114px;
	height:45px;
	display: block;
}
nav.desktop{
	float: right;
	overflow: hidden;
	/*border-right:solid 1px #616161;*/
}

nav.desktop ul{
	overflow: hidden;
	clear: both;
}

nav.desktop li{
	float: left;
}

nav.desktop li > a{
	display: block;
	overflow: hidden;
	color: #cdcdcd;
	padding: 0px 20px;
	height: 70px;
	line-height: 70px;
	background:url("../images/img_trans.png") repeat;
	-webkit-transition-property: background; /* Safari */
    -webkit-transition-duration: 1s; /* Safari */
    transition-property: background;
    transition-duration: 1s;
}

nav.desktop li > a:hover,nav li > a.active{
	background:url("../images/bg_nav2.png") repeat;
	color: #fff;
}

.nav-rwd{
      visibility: hidden;
   }

.languagebox{
	display: block;
	overflow: hidden;
	color: #cdcdcd;
	/*position: absolute;
	top:51px;
	right: 4%;
	background:url("../images/bg_language.png") no-repeat center bottom;
	z-index: 9999;
	overflow: hidden;*/
}

.languagebox > div{
	line-height: 70px;
}

.languagebox a{
	color: #fff;
}


.languagebox a {
    /*float: left;*/
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown {
   float: left;
    overflow: hidden;
}

.dropdown .dropbtn {    
    border: none;
    outline: none;
    color: white;
	margin-bottom: 10px;
    background-color: inherit;
	border-left:solid 1px #616161;
	padding:0px 20px;
}

.languagebox a:hover, .dropdown:hover .dropbtn {
    background-color: none;
}

.dropdown-content {
    display: none;
    /*position: absolute;*/
    background-color: rgba(0,0,0,.8);
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 9999;*/
}

.dropdown-content a {
    float: none;
    color: #cdcdcd;
    padding: 12px 0px;
	margin: 0px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
	border-bottom: solid 1px #616161;
	line-height: normal;
}

.dropdown-content a:hover {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:nth-child(3){
	border-bottom: 0px;
}

/*nav li:nth-child(7){
}

nav li:nth-child(7) a{
	display: inline-block;
	border-right:#616161 1px solid;
}*/
.nav-rwd .languagebox{
	display: none;
}

.main{
	padding: 0px 100px;
}

.main-block{
	padding: 300px 0px 0px;
	margin-bottom:145px;
}

.main-block-bottom{
	overflow: hidden;
	clear: both;
}

.main-block-bottom a,.main-block-bottom a:active,.main-block-bottom a:visited{
	color: #cdcdcd;
}
.main-block-bottom a:hover{
	color: #fff;
}

.main-block-bottom a.index-service-intro{
	
}

.index_txt{
	margin-bottom: 550px;	
}
.index_txt h2{
	color: #fff;
	font-size: 4vmin;
	line-height: 1.2;
	text-shadow: 1px 1px 8px #a2754c;
	border-bottom: none;
}

.index_txt p{
	display: none;
}

.main-block .main-block-bottom div{
	float: left;
	width: 32%;
	color: #cdcdcd;
}

.main-block .main-block-bottom div:nth-child(1){
	margin-right: 1%;
}

.main-block .main-block-bottom div:nth-child(2){
	margin: 0 1%;
}

.main-block .main-block-bottom div:nth-child(3){
	margin-left: 1%;
}

.main-block figure img{
	width: 535px;
	max-width: 100%;
}


.date{
	display: block;
}

.offer-info{
	margin-bottom: 145px;
}

.offer-info-list{
	overflow: hidden;
	clear: both;
	margin-bottom: 50px;
}
.offer-info-list li{
	border-bottom: dotted 1px #686868;
}
.offer-info-list li div{
	float: left;
	vertical-align: middle;
	width: 93%;
}

.offer-info-list li a{
	color: #cdcdcd;
	display: block;
	padding: 10px;
    margin: 10px 0px;
    clear: both;
	overflow: hidden;
}
.offer-info-list li a:hover{
	color: #fff;
}
.offer-info-list img{
	float: left;
	margin-right: 3%;
	margin-top: 5px;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	background:url("../images/bg_spa.png") no-repeat;/*500x265*/
	background-position: 35.157894% 47.916666%;/*167 115*/
	background-size: 2000% 1060%;
}

footer{
	background: #333;
}
footer section{
	padding:40px 0px;
	clear: both;
	overflow: hidden;
	display: table;
	margin: 0px auto;
}
footer section div{
	float: left;
}

.community-link{
	padding-right: 50px;
	line-height: 154px;
}
.community-link a{
	color:#fff;
	background: #535353;
	border-radius: 99em;
	width: 55px;
	height: 55px;
	display: inline-block;
	font-size: 3vmin;
	line-height: 55px;
	text-align: center;
	margin: 0px 10px;
}

.contact-info{
	padding-left: 50px;
	border-left:solid 1px #fff;
	line-height: 28px;
}

a.btn_music{
	display:inline-block;
}

.copyright{
	background-color: #8d7644;
	color: #fff;
	text-align: center;
	padding: 15px 30px;
	line-height: 24px;
}


/*=============================inner=============================*/

.inner-wrapper{
	padding: 375px 0px 120px;
}

.editbox,.editbox p{
	font-size: 19px;
	line-height: 28px;
}

.editbox{
	/*margin: 0px 200px 100px;*/
}

.top-info{
	margin: 0px 75px;
	width: 35%;
}

.intro{
	margin-bottom: 135px;
	letter-spacing: 2px;
	text-shadow: 0px 0px 10px #350101;
}
.intro a{
	color: #fff;
}
.intro a:hover{
	text-decoration: underline;
}

.sec-about .intro{
	margin-bottom: 0px;
}

/*.sec-products .inner-title-box,.sec-news .inner-title-box{
	padding-bottom:10px;
	margin-bottom: 15px;
    border-bottom: solid 1px #fff;
}*/

.inner-title-box h2{
	margin: 0px 0px 0px 0px;
    padding-bottom: 10px;
    border-bottom: none;
	color: #fff;
	font-weight:bolder;
	line-height: normal;
	/*text-indent: -9999px;
	width: 547px;/*547 500
	height: 90px;*/
}
.inner-title-box h2 span{
	font-weight:normal;
	font-size: 1.75vmin;
	text-transform:uppercase;
}

/*.sec-about .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 2.92682% ;
}
.sec-service .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 24.878049% ;
}
.sec-space .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 46.8298% ;
}
.sec-news .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 68.780488% ;
}
.sec-contact .inner-title-box h2{
	background:url("../images/title.png") no-repeat;
	background-size: 100% 555.555% ;
	background-position: 0% 90.7317078% ;
}
*/

.service-list{
}

.service-box-wrapper{
	overflow: hidden;
	clear: both;
	padding: 70px 0px;
	border-top: dotted 1px #4c403a;
}

.service-box{
	float: left;
}
.service-box:nth-child(odd){
	margin-right: 3%;
	width: 47%;
}
.service-box:nth-child(even){
	width: 47%;
	margin-left: 3%;
}
.service-box figure{
	float: left;
	width: 40%;
}
.service-box figure img{
	max-width: 100%;
	width: 330px;
}
.service-box-rightcontent{
	float: right;
	width: 55%;
}
.service-box h3{
	font-size: 2vmin;
	padding: 15px 0px;
	border-top: solid 1px #b3a178;
	border-bottom: solid 1px #b3a178;
	margin-bottom: 15px;
}
.service-box .price{
	margin-bottom: 15px;
}
.service-box .price span{
	display: block;
}
.service-point{
	text-indent: -9999px;
	width: 350px;
	height: 61px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 109.89011% 335.433038% ;/*500 265*/
	background-position: 0% 100% ;/*0 186*/
	margin: 0px auto;
}

.space-around{
	margin-bottom: 60px;
}
.space-around:last-child{
	margin-bottom: 0px;
}
.space-around p{
	margin-bottom: 20px;
}

.space-view-box{
	/*position: relative;
	width: 1710px;
	height: 695px;*/
}
.view-image{
	position: relative;
	/*top: 0px;
	left: 0px;
	width: 1710px;
	height: 695px;
	z-index: 1;*/
}
.view-image img{
	max-width: 100%;
}
.view-btn-circle{
	display: none;
	position: absolute;
	bottom: 6%;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	z-index: 2;
	text-indent: -9999px;
	width: 172px;
	height: 172px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 290.697674% 154.069767% ;/*500 265*/
	background-position: 85.97561% 6.4516129% ;/*282 6*/
}
.view-btn-left{
	display: none;
	position: absolute;
	bottom: 32%;
	left: -26.5%;
	z-index: 3;
	text-indent: -9999px;
	width: 28px;
	height: 62px;
	display: block;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 1785.714286% 427.419355% ;/*500 265*/
	background-position: 51.90678% 29.55665% ;/*245 60*/
}
.view-btn-right{
	display: none;
	position: absolute;
	bottom: 32%;
	right: -26.5%;
	z-index: 3;
	text-indent: -9999px;
	width: 28px;
	height: 62px;
	display: block;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 1785.714286% 427.419355% ;/*500 265*/
	background-position: 97.245763% 29.55665% ;/*459 60*/
}


.box-list{
	overflow: hidden;
	clear: both;
}
.box-detail{
	float: left;
	width: 23%;
	margin: 0px 1% 80px;
}
.box-detail figure{
	margin-bottom: 10px;
}
.box-detail figure img{
	max-width: 100%;
}
.sec-products section{
	margin: 0px 75px;
}
.sec-products .top-info{
	margin-bottom: 30px;
}

.news-list .offer-info-list{
	margin-bottom: 91px;
}
.news-list .offer-info-list li{
	padding: 0px;
}

.news-list .offer-info-list a:hover,.offer-info .offer-info-list a:hover{
	background: rgba(255,255,255,0.1);
}

.sec-news .top-info{
	width: auto;
}

.sec-news h3{
	font-size: 28px;
	line-height: 32px;
	overflow: hidden;
	clear: both;
	line-height: 40px;
}

.sec-news h3 img{
	float: left;
}

.sec-news h3 span{
	display: block;
	float: right;
	width: 95%;
	margin-top: -6px;
}

.sec-news section{
	margin: 0px 75px;
}
.sec-news .editbox{
	font-size: 19px;
	margin: 0px;
}
.sec-news .editbox img{
	max-width: 100%;
	margin-bottom: 50px;
}

.sec-news-content h3{
	margin-bottom: 35px;
}
.sec-news-content section{
		margin: 0px 75px;
}

.sec-news-content .offer-info-list img{
    margin-right: 0%;
}

.map{
	width: auto;
	height: 450px;
	margin: 0px 75px;
}

.page{
	position: relative;
	width: 100%;
	height: 25px;
}

.page span{
	display: inline-block;
	height: 15px;
}

.page .pre{
	text-indent: -9999px;
	display: inline-block;
	width: 7px;
	height: 15px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 5000% 1204.545455% ;/*500 265*/
	background-position: 2.4489796% 48.559671% ;/*12 118*/
}
.page .next{
	text-indent: -9999px;
	display: inline-block;
	width: 7px;
	height: 15px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 5000% 1204.545455% ;/*500 265*/
	background-position: 27.142857% 48.559671% ;/*133 118*/
}
.pagecount{
	display: table;
	margin: 0px auto;
}
.pagecount a{
	text-indent: -9999px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0px 6px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 2000% 1060% ;/*500 265*/
	background-position: 17.052632% 48.333333% ;/*81 116*/
}
.pagecount a.active{
	text-indent: -9999px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0px 6px;
	background:url("../images/bg_spa.png") no-repeat;
	background-size: 2000% 1060% ;/*500 265*/
	background-position: 9.6842105% 48.333333% ;/*46 116*/
}

/*HAMBURGER NAV*/

.rwd-menu a {
   text-decoration: none;
   transition: all 600ms ease-in-out;
}

/* OPEN / CLOSE BTNS */
.rwd-menu-btn {
   z-index: 999;
   position: absolute;
   display: block;
   top: 50%;
   right: 0%;
   transform: translate(0%,-50%);
	width: 98px;
	height: 90px;
	text-align: center;
}

.rwd-menu-btn:hover{
	background-color: rgba(156,136,81,.65);
}

.rwd-menu-btn a {
   display: inline-block;
	width: 54px;
	/*height: 5px;*/
   text-decoration: none;
   /* safari hack */
}

.rwd-btn-open:after {
	font-size: 56px;
	text-align: center;
   content: "\f0c9";
   color: #fff;
	opacity: .8;
   font-family: "fontawesome";
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-btn-open:hover:after {
	opacity: 1;
}

.rwd-btn-close:after {
   content: "\f00d";
   color: #fff;
   font-family: "fontawesome";
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-btn-close:hover:after {
   color: #c2bcae;
}

/* OVERLAY */
.rwd-overlay {
   z-index: 99;
   position: fixed;
   display: none;
   overflow: hidden;
   top: 70px;
   right: 0; 
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background: transparent;
}

.rwd-menu {
   width: 45%;
   float:right;
   background: rgba(17,17,17, 0.8);
   line-height: normal;
}

.rwd-menu ul { 
   margin: 0;
   padding: 0;
   width: 100%;
   padding: 52px 0px;
}

.rwd-menu li {
   display: table;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 10%;
   list-style: none;
   text-align: center;
   -webkit-transition: all .2s linear 0s;
   -moz-transition: all .2s linear 0s;
   -o-transition: all .2s linear 0s;
   transition-property: all .2s linear 0s;
}

.rwd-menu li a {
   display: table-cell;
   color: #fff;
   display: block;
   padding: 20px 0px;
   vertical-align: middle;
   text-decoration: none;
}

.rwd-menu li:hover, .rwd-menu li a:hover {
    color: #b8926b;
}

/* Sweep To Right */
.rwd-sweep {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.rwd-sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.rwd-sweep:hover, .rwd-sweep:focus, .rwd-sweep:active {
  color: #fff;
}
.rwd-sweep:hover:before, .rwd-sweep:focus:before, .rwd-sweep:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* ================================================
Responsive
============================================= */


@media all and (max-width: 1300px) {
	nav.desktop{
		display: none;
	}
	header{
		background: transparent;
		background-color: #333;
	}
	.nav-rwd {
    visibility: visible;
	}
	.rwd-menu ul{
		padding: 20px 0px;
	}
	.rwd-menu-btn{
		width: 65px;
		height: 70px;
		line-height: 70px;
	}
	.rwd-btn-open:after,.rwd-btn-close:after{
		font-size: 2.75vmin;
	}
	
	.main{
		padding: 0px 60px;
	}
	.nav-rwd .languagebox{
		display: block;
		position: absolute;
		left: 2%;
		top: 30%;
		padding: 0px;
	}
	.languagebox > div{
		line-height: normal;
	}
	.dropdown .dropbtn{
		margin-bottom: 20px;
	}
	.nav-rwd .dropdown .dropbtn{
		border-left: none;
	}
	.nav-rwd .languagebox a{
		line-height: normal;
	}

	h1{
		display: block;
		margin-left:auto;
		margin-right:auto;
	}

}



@media (max-width: 768px) {
	body{
		font-family: ‘cwTeXMing’, serif;
	}
	body,a,p{
		font-size: 4vmin;
	}
	h2{
		font-size: 4.75vmin;
	}
	
	.inner-wrapper,.inner-wrapper-about{
		padding-bottom: 100px !important;
	}
	.inner-wrapper-space{
		padding-bottom: 60px;
	}
	.main-block{
		padding-top: 100px;
		margin-bottom: 100px;
	}
	.index_txt{
		text-align: center;
		margin-bottom: 520px;
	}
	.index_txt h2,.offer-info{
		margin-bottom: 100px;
	}
	.service-point{
		width: 287px;
		height: 50px;
	}
	.sec-news h3{
		overflow:auto;
		clear: none;
	}
	.sec-news h3 span{
		margin-top:0px;
	}
	
	.main {
    padding: 0px 30px;
}
.intro{
	margin-bottom: 35px;
}

.contact-info {
    padding-left: 75px;
}
	.community-link {
    padding-right: 75px;
}
.main-block .main-block-bottom div:nth-child(1) {
    margin-right: 2%;
}
.main-block .main-block-bottom div:nth-child(2) {
    margin: 0 2%;
}
.main-block .main-block-bottom div:nth-child(3) {
    margin-left: 2%;
}
.main-block .main-block-bottom div {
	width: 30.6%;
}
.top-info{
	width: auto;
}
.service-box figure,.service-box-rightcontent{
	float: none;
	width: 100%;
	margin-bottom: 7%;
}
.map{
	width: auto;
}

.box-detail{
	width: 48%;
}

.map iframe{
		width: 100% !important;
	}

.bg-about,.bg-service,.bg-news,.bg-contact,.bg-contact,.bg-index{
	background-size: 160%;
	background-position: -180px 0px;
}
.bg-news{
	background-position: -200px 70px;
}	
.bg-contact{
	background-position: -200px 70px;
}
.bg-index{
	background-position: -180px 70px;
}

}

@media (max-width: 580px) {
	.main-block .main-block-bottom div{
		width: 100%;
		float: none;
		margin: 0px 0px 40px;
	}
	.main-block .main-block-bottom div:nth-child(3){
		margin: 0px 0px 0px;
	}
	.main-block .main-block-bottom div:nth-child(2){
		margin: 0px 0px 40px;
	}
	.service-box:nth-child(odd),.service-box:nth-child(even){
		float: none;
		width: 100%;
		margin: 0px;
	}
	.service-box figure{
		margin-bottom: 0px;
	}
	.service-box figure img{
		max-width: 100%;
		width: 100%;
	}
	.service-box h3{
		border-top: none;
	}
	.service-box-wrapper{
		border-top: none;
		padding: 0px;
	}
	.service-box-wrapper:nth-child(1){
		border-top: dotted 1px #4c403a;
		padding-top: 35px;
	}
	.service-box-rightcontent{
		margin-bottom: 25%;
	}
	.service-box-wrapper{
		padding-bottom: 0px;
	}
	footer section{
		padding: 20px 0px;
	}
	footer section div{
		float: none;
	}
	.contact-info{
		border-left: none;
	}
	.community-link{
		padding: 30px;
		line-height: normal;
		text-align: center;
	}
	.contact-info{
		padding: 0px;
	}
	.community-link a{
		font-size: 4vmin;
	}
	a.btn_music{
		text-align: center;
		display: block;
	}
	.box-detail{
		width: 100%;
		float: none;
		margin: 0px 0px 80px;
	}
	.box-detail figure img{
		max-width: 100%;
		width: 100%;
	}
	.inner-wrapper-space{
		padding-bottom: 20px;
	}
	.sec-products section{
		margin: 0px;
	}
	.sec-products .top-info{
		margin: 0px 0px 30px;
	}
	.sec-news .top-info,.sec-contact .top-info,.sec-about .top-info{
		margin: 0px;
	}
	.sec-news section{
		margin: 0px;
	}
	.map{
		margin: 0px;
	}
	.inner-wrapper{
		padding-top: 275px;
	}
	.bg-space{
		background-size: 160%;
		background-position: -180px 70px;
	}
	
}

@media (max-width: 480px) {

	.rwd-menu{
		width: 100%;
		float: none;
		background: transparent;
	}
	.rwd-overlay{
		background: rgba(17,17,17, 0.8);
	}
	h1,h1 a{
		width: 89px;
		height: 35px;
	}
	h1{
		margin-top: 17.5px;
	}
	.bg-news,.bg-about,.bg-service,.bg-contact{
		background-size: 160%;
		background-position: -180px 70px;
	}
	.service-point{
		width: 260px;
		height: 45px;
	}
}

@media screen and (max-width: 479px) and (min-width: 320px){
	.top-info{
		width: 100%;
		margin: 0px;
	}
	.bg-news,.bg-about,.bg-contact{
		background-size: 160%;
		background-position: -106px 70px;
	}
	.bg-service{
		background-size: 160%;
		background-position: -62px 70px;
	}
}
@media screen and (max-width: 380px) and (min-width: 320px){
	.offer-info-list li div{
		width: 92%;
	}
}

